.signUpSeller {
  background-color: #709176;
  width: 100vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  p {
    color: #fff;
  }
}

.signUpSellerFormStepOne {
  width: 75%;
  margin: 0 auto;
  input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    border: none;
  }

  input::placeholder {
    text-align: center;
  }
}

.option {
  background-color: #fff;
  height: 35px;
  border-radius: 10px;
  p {
    color: #000;
    font-size: 0.8em;
  }
}
.active {
  border: 1px solid red;
}
