.photoGallery {
  text-align: center;

  ul {
    margin-right: 1em;
    li {
      margin-left: 1em;
      .smallImg {
        width: 170px;
      }
      .first {
        margin-right: 1em;
      }
      img {
        border-radius: 20px;
      }
    }
  }
}
